# Data Science Assignment

In [1]:
import pandas as pd 
import numpy as np

In [2]:
print(pd)

<module 'pandas' from 'D:\\Zixian Ye\\anaconda\\Lib\\site-packages\\pandas\\__init__.py'>

In [3]:
df = pd.read_csv('results.csv')

# What is the average number of goals for the home team?

In [4]:
df['home_score'].mean()

1.7393136930376256

# What is the average number of goals for the away team?

In [5]:
df['away_score'].mean()

1.1782412004854905

# What is the country with the highest overall home score?

In [6]:
df.groupby('country').sum('home_score').idxmax()

home_score    United States
away_score    United States
neutral       United States
dtype: object

# What are the top 3 type of tournaments?

In [7]:
df['tournament'].value_counts(normalize=True)

tournament
Friendly                                0.392210
FIFA World Cup qualification            0.176895
UEFA Euro qualification                 0.062121
African Cup of Nations qualification    0.044091
FIFA World Cup                          0.021273
                                          ...
Copa Confraternidad                     0.000022
FIFA 75th Anniversary Cup               0.000022
Real Madrid 75th Anniversary Cup        0.000022
Évence Coppée Trophy                    0.000022
The Other Final                         0.000022
Name: proportion, Length: 147, dtype: float64

# Which country has the highest overall FIFA World Cup goals?

In [8]:
df = pd.read_csv('results.csv')
fifa_df = df[df['tournament'] == 'FIFA World Cup']
print(fifa_df)

             date  home_team      away_team  home_score  away_score  \
1311   1930-07-13    Belgium  United States           0           3
1312   1930-07-13     France         Mexico           4           1
1313   1930-07-14     Brazil     Yugoslavia           1           2
1314   1930-07-14       Peru        Romania           1           3
1315   1930-07-15  Argentina         France           1           0
...           ...        ...            ...         ...         ...
44349  2022-12-10    England         France           1           2
44351  2022-12-13  Argentina        Croatia           3           0
44352  2022-12-14     France        Morocco           2           0
44356  2022-12-17    Croatia        Morocco           2           1
44358  2022-12-18  Argentina         France           3           3

           tournament        city  country  neutral
1311   FIFA World Cup  Montevideo  Uruguay     True
1312   FIFA World Cup  Montevideo  Uruguay     True
1313   FIFA World Cup  Montevideo  Uruguay     True
1314   FIFA World Cup  Montevideo  Uruguay     True
1315   FIFA World Cup  Montevideo  Uruguay     True
...               ...         ...      ...      ...
44349  FIFA World Cup     Al Khor    Qatar     True
44351  FIFA World Cup      Lusail    Qatar     True
44352  FIFA World Cup     Al Khor    Qatar     True
44356  FIFA World Cup   Al Rayyan    Qatar     True
44358  FIFA World Cup      Lusail    Qatar     True

[964 rows x 9 columns]

In [9]:
fifa_df['total_score'] = fifa_df['home_score'] + fifa_df['away_score']

C:\Users\Zixian Ye\AppData\Local\Temp\ipykernel_11196\914409816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df['total_score'] = fifa_df['home_score'] + fifa_df['away_score']

In [10]:
fifa_df.groupby('country').sum('total_score')
fifa_df.sort_values(by='total_score', ascending=True)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
9203,1974-06-15,Sweden,Bulgaria,0,0,FIFA World Cup,Düsseldorf,Germany,True,0
4393,1958-06-15,Sweden,Wales,0,0,FIFA World Cup,Solna,Sweden,False,0
32558,2010-06-18,England,Algeria,0,0,FIFA World Cup,Cape Town,South Africa,True,0
10760,1978-06-07,Brazil,Spain,0,0,FIFA World Cup,Mar del Plata,Argentina,True,0
10762,1978-06-07,Netherlands,Peru,0,0,FIFA World Cup,Mendoza,Argentina,True,0
...,...,...,...,...,...,...,...,...,...,...
4373,1958-06-08,France,Paraguay,7,3,FIFA World Cup,Norrköping,Sweden,True,10
12559,1982-06-15,Hungary,El Salvador,10,1,FIFA World Cup,Elche,Spain,True,11
3674,1954-06-20,Germany,Hungary,3,8,FIFA World Cup,Basel,Switzerland,True,11
2101,1938-06-05,Brazil,Poland,6,5,FIFA World Cup,Strasbourg,France,True,11
3680,1954-06-26,Switzerland,Austria,5,7,FIFA World Cup,Lausanne,Switzerland,False,12

In [11]:
fifa_df['total_score'].idxmax()

3680