# Data Science Assignment

In [1]:
import pandas as pd 
import numpy as np

In [2]:
print(pd)

<module 'pandas' from 'D:\\Zixian Ye\\anaconda\\Lib\\site-packages\\pandas\\__init__.py'>

In [3]:
df = pd.read_csv('results.csv')

# What is the average number of goals for the home team?

In [4]:
df['home_score'].mean()

1.7393136930376256

# What is the average number of goals for the away team?

In [5]:
df['away_score'].mean()

1.1782412004854905

# What is the country with the highest overall home score?

In [6]:
df.groupby('country').sum('home_score').idxmax()

home_score    United States
away_score    United States
neutral       United States
dtype: object

# What are the top 3 type of tournaments?

In [7]:
df['tournament'].value_counts(normalize=True)

tournament
Friendly                                0.392210
FIFA World Cup qualification            0.176895
UEFA Euro qualification                 0.062121
African Cup of Nations qualification    0.044091
FIFA World Cup                          0.021273
                                          ...
Copa Confraternidad                     0.000022
FIFA 75th Anniversary Cup               0.000022
Real Madrid 75th Anniversary Cup        0.000022
Évence Coppée Trophy                    0.000022
The Other Final                         0.000022
Name: proportion, Length: 147, dtype: float64

# Which country has the highest overall FIFA World Cup goals?

In [8]:
df = pd.read_csv('results.csv')
fifa_df = df[df['tournament'] == 'FIFA World Cup qualification']
print(fifa_df)

             date              home_team       away_team  home_score  \
1588   1933-06-11                 Sweden         Estonia           6
1593   1933-06-29              Lithuania          Sweden           0
1612   1933-09-24             Yugoslavia     Switzerland           2
1620   1933-10-15                 Poland  Czechoslovakia           1
1627   1933-10-29            Switzerland         Romania           2
...           ...                    ...             ...         ...
45300  2023-11-21                Somalia          Uganda           0
45301  2023-11-21               Botswana          Guinea           1
45302  2023-11-21                 Malawi         Tunisia           0
45303  2023-11-21  São Tomé and Príncipe         Namibia           0
45304  2023-11-21                Comoros           Ghana           1

       away_score                    tournament         city      country  \
1588            2  FIFA World Cup qualification    Stockholm       Sweden
1593            2  FIFA World Cup qualification       Kaunas    Lithuania
1612            2  FIFA World Cup qualification     Belgrade   Yugoslavia
1620            2  FIFA World Cup qualification       Warsaw       Poland
1627            2  FIFA World Cup qualification        Berne  Switzerland
...           ...                           ...          ...          ...
45300           1  FIFA World Cup qualification      Berkane      Morocco
45301           0  FIFA World Cup qualification  Francistown     Botswana
45302           1  FIFA World Cup qualification     Lilongwe       Malawi
45303           2  FIFA World Cup qualification       Agadir      Morocco
45304           0  FIFA World Cup qualification       Moroni      Comoros

       neutral
1588     False
1593     False
1612     False
1620     False
1627     False
...        ...
45300     True
45301    False
45302    False
45303     True
45304    False

[8016 rows x 9 columns]

In [9]:
fifa_df['total_score'] = fifa_df['home_score'] + fifa_df['away_score']

C:\Users\Zixian Ye\AppData\Local\Temp\ipykernel_21020\914409816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df['total_score'] = fifa_df['home_score'] + fifa_df['away_score']

In [10]:
fifa_df.groupby('country')['total_score'].idxmax()
fifa_df.sort_values(by='total_score', ascending=True)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
28285,2005-10-12,Hungary,Croatia,0,0,FIFA World Cup qualification,Budapest,Hungary,False,0
43302,2021-11-12,Guinea,Guinea-Bissau,0,0,FIFA World Cup qualification,Conakry,Guinea,False,0
9892,1976-04-16,Libya,Algeria,0,0,FIFA World Cup qualification,Tripoli,Libya,False,0
23028,2000-03-19,Cayman Islands,Cuba,0,0,FIFA World Cup qualification,George Town,Cayman Islands,False,0
21305,1997-11-16,Jamaica,Mexico,0,0,FIFA World Cup qualification,Kingston,Jamaica,False,0
...,...,...,...,...,...,...,...,...,...,...
23823,2000-11-26,Tajikistan,Guam,16,0,FIFA World Cup qualification,Tabriz,Iran,True,16
20864,1997-06-02,Maldives,Iran,0,17,FIFA World Cup qualification,Damascus,Syria,True,17
23820,2000-11-24,Iran,Guam,19,0,FIFA World Cup qualification,Tabriz,Iran,False,19
24157,2001-04-09,Australia,Tonga,22,0,FIFA World Cup qualification,Coffs Harbour,Australia,False,22
24160,2001-04-11,Australia,American Samoa,31,0,FIFA World Cup qualification,Coffs Harbour,Australia,False,31

In [11]:
max_idx = fifa_df['total_score'].idxmax()
df.loc[max_idx, 'country']

'Australia'